@model Entities.Models.Document
@{
    Layout = null;
}

<div class="form-default">
    <div class="wrap_bg mb20">
        <h3 class="title-detail mb15">Xác nhận từ chối hồ sơ</h3>
        <div class="form-group mb10">
            <label class="lbl">Lý do từ chối:</label>
            <div class="wrap_input">
                <textarea id="RejectReason" class="form-control" rows="4" placeholder="Nhập lý do từ chối..."></textarea>
                <div id="validate-reason" class="text-danger mt5" style="display: none;">Vui lòng nhập lý do từ chối</div>
            </div>
        </div>
    </div>
    <div class="form-group align-right mt20 block">
        <button type="button" class="btn btn-danger btn-lg mr-2" id="btn-reject-submit-popup" style="min-width: 150px;">
            <i class="fa fa-times"></i> Xác nhận từ chối
        </button>
        <button type="button" class="btn btn-default btn-lg" onclick="$.magnificPopup.close();" style="min-width: 150px;">
            <i class="fa fa-minus-circle"></i> Bỏ qua
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        _profile.InitRejectPopup(@Model.Id);
    });
</script>
