@{
    Layout = null;
}
@using Entities.ViewModels
@using Entities.ViewModels.SupplierConfig
@using Utilities


<div class="table-responsive table-default table-gray">

    <div class="table-responsive table-default table-gray wrap_bg wrap_bg_no-padding mb20">
        <div class="tab-default" style="border-bottom: 1px solid #CCCCCC;" bis_skin_checked="1">
            <div class="row" style=" width: 100%; " bis_skin_checked="1">
                <div class="tab-default col-md-9 mb0 mt10" bis_skin_checked="1">
                    <a href="javascript:;" class="supplier-detail-change-tab-button  supplier-button-fly active" data-tab-id="0">Vé máy bay</a>
                    <a href="javascript:;" class="supplier-detail-change-tab-button  supplier-button-hotel" data-tab-id="1">Khách sạn</a>
                    <a href="javascript:;" class="supplier-detail-change-tab-button  supplier-button-tour" data-tab-id="2">Tour</a>
                    <a href="javascript:;" class="supplier-detail-change-tab-button  supplier-button-other" data-tab-id="3">Dịch vụ khác</a>
                    <a href="javascript:;" class="supplier-detail-change-tab-button  supplier-button-vinWonder" data-tab-id="4">VinWonder</a>
                </div>
            </div>
        </div>
        <div class="table-responsive table-default table-gray">
            <div id="gray-data">
                <div class="form-group flex-end mt20 block text-center">
                    <i class="fa fa-refresh fa-spin" style="color:#1E5846"></i>
                   
                </div>
            </div>
        </div>
    </div>
</div>


