@using Entities.ViewModels
@model NoteViewModel
@{
    var Comment = "";
    if (Model != null)
    {
        Comment = Model.Comment;

    }
}
<div class="white-popup" style="max-width: 400px;">
    <div class="content_lightbox">
        <div class="form-group border">
            <input type="text" hidden name="name" id="Id" value="@ViewBag.id" />
            <input type="text" hidden name="name" id="noteId" value="@ViewBag.noteId" />
            <textarea class="form-control" style="height: 150px;" placeholder="Nhập Ghi chú" id="notekt" maxlength="300" value="@Comment">@Comment</textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-default red ml-1" onclick="_payment_request_service.SetupNoteKTRequest();">Xác nhận</button>
        </div>

    </div>
</div>